.button {
  padding: 10px;
  width: 10rem;
  background: transparent;
  outline: inherit;
  border: 2px solid #202020;
  cursor: pointer;
}

.button.dark{
  border: 2px solid rgb(230, 230, 230);
  color: white;
}

.button:hover{
  transform: scale(1.1);
}

.button:active{
  transform: scale(1);
}